::-webkit-scrollbar {
    width: 10px; /* Adjust width as per your design preference */
}

/* The background of the scrollbar track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* The actual scroll handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4); /* Slightly more opaque white for visibility */
    border-radius: 10px;
}

/* On hover over the scroll handle */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
}